/* GENERAL */

@import url(
'https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap'
);

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

.portfolio-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
    /* grid-template-rows: repeat(1, 200px); */
    grid-template-rows: repeat(2, 200px);
    margin: 10%;
    gap: 10px;
    background-image: url();
}

.grid-item_intro-square {
    border: 1px solid green;
}

.grid-item_projects-square {
    border: 1px solid green;
}

.grid-item_about-square {
    border: 1px solid green;
}

.grid-item_skills-square {
    border: 1px solid green;
}

.grid-item_contact-square {
    border: 1px solid green;
}



































/* .nav-bar {
    border: 2px solid green;
    width: 70%;
    gap: 15px;
    margin-left: 15%;
}

.nav-bar .navigate {
    display: flex;
    gap: 15px;
} */